head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(content="width=device-width, initial-scale=1" name="viewport")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(name="cmsmagazine" content="d8e7426ec72ad3e4ea38b09ebf01284c")
	title #{title} | Сайт на реконструкции
	base(href="/")
	link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
	meta(itemprop="title" name="title" content="#{title} | Сайт на реконструкции")
	meta(itemprop="description" name="description" content="#{title} | Сайт на реконструкции")
	meta(itemprop="keywords" name="keywords" content="")
	meta(itemprop="image" name="image" content="/assets/templates/comingsoon/images/artgarage.png")
	meta(name="robots" content="index, follow")
	meta(property="og:title" content="#{title} | Сайт на реконструкции")
	meta(property="og:description" content="#{title} | Сайт на реконструкции")
	meta(property="og:url" content="/")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:site_name" content="#{title}")
	meta(property="og:image" content="/assets/templates/comingsoon/images/artgarage.png")
	meta(property="og:image:width" content="1024")
	meta(property="og:image:height" content="768")
	meta(property="og:image:type" content="image/png")
	style
		="\n"
		include style.css
	style
		="\n"
		include ../../../assets/templates/comingsoon/css/main.css